.PokemonCardsList {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 30px;
  padding: 15px;
  /* justify-content: center; */
}

.PokemonCardsContainer button {
  display: block;
  margin: 15px;
  width: calc(100% - 30px);
  background-color: rgb(68, 154, 239);
  color: white;
  font-weight: bold;
  font-size: 20px;
  line-height: 40px;
  border-radius: 5px;
  cursor: pointer;
}

.PokemonCardsContainer button:hover {
  background-color: rgba(35, 125, 215, 0.8);
}
.PokemonCardsContainer button:active {
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 1920px) {
  .PokemonCardsList {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 1440px) {
  .PokemonCardsList {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 1024px) {
  .PokemonCardsList {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 480px) {
  .PokemonCardsList {
    display: flex;
    flex-direction: column;
  }
}
